@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:manikumarb06@gmail.com">manikumarb06@gmail.com</a><br />
    <strong>Phone:</strong> <strong>(717) 745-7585</strong> 
</address>